<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
              <form #booksForm="ngForm" (ngSubmit)="onSubmit(booksForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="booksService.selectedbooks._id">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="booksService.selectedbooks.name" placeholder="Enter Book name" required>
                    <label>Name :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="authur" #name="ngModel" [(ngModel)]="booksService.selectedbooks.authur" placeholder="Authur name">
                    <label>Authur :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="year" #name="ngModel" [(ngModel)]="booksService.selectedbooks.year" placeholder="Year of publication">
                    <label>Year :</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <button class="btn btn-custom right" type="button" (click)="resetForm(booksForm)">Reset</button>
                      <button class="btn btn-custom right" type="submit" [disabled]="!booksForm.valid">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col s7">
                <table class="responsive-table highlight">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Authur</th>
                        <th>Year</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let bok of booksService.books">
                      <td>{{bok.name}}</td>
                      <td>{{bok.authur}}</td>
                      <td>{{bok.year}}</td>
                      <td>
                          <a class="action-btn" (click)="onEdit(bok)">
                            <i class="material-icons">edit</i>
                          </a>
                          <a class="action-btn" (click)="onDelete(bok._id,booksForm)">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                    </tr>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>